In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("retail.csv")
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,1.12.2009 07:45,"6,95",13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,1.12.2009 07:45,"6,75",13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,1.12.2009 07:45,"6,75",13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,1.12.2009 07:45,"2,1",13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,1.12.2009 07:45,"1,25",13085.0,United Kingdom

### Data Cleaning

In [3]:
df.info() #To get insights into the data types and number of values in each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1048575 non-null  object
 1   StockCode    1048575 non-null  object
 2   Description  1044203 non-null  object
 3   Quantity     1048575 non-null  int64
 4   InvoiceDate  1048575 non-null  object
 5   Price        1048575 non-null  object
 6   Customer ID  811893 non-null   float64
 7   Country      1048575 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 64.0+ MB

In [4]:
df.isna().sum() # Finding out the null values in the dataframe

Invoice             0
StockCode           0
Description      4372
Quantity            0
InvoiceDate         0
Price               0
Customer ID    236682
Country             0
dtype: int64

In [5]:
df.shape

(1048575, 8)

In [6]:
df.dropna(inplace=True) # Dropping all the null values as we cannot impute customer IDs or Descriptions

In [7]:
df.shape # Checking how many rows we are left with

(811893, 8)

In [8]:
df.isna().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [9]:
# Changing the type of customer ID from float to int and then to object type as it is a categorical variable
df['Customer ID'] = df['Customer ID'].astype(int)
df['Customer ID'] = df['Customer ID'].astype(object)
df['Customer ID'].head()

0    13085
1    13085
2    13085
3    13085
4    13085
Name: Customer ID, dtype: object

In [10]:
# Replacing the ',' in price values with '.' and then changing the prices to float values

l1=[]
s1=''
for i in df['Price']:
    s1=i.replace(',','.')
    l1.append(float(s1))
df['Price']=l1
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,1.12.2009 07:45,6.95,13085,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,1.12.2009 07:45,6.75,13085,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,1.12.2009 07:45,6.75,13085,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,1.12.2009 07:45,2.10,13085,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,1.12.2009 07:45,1.25,13085,United Kingdom

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 811893 entries, 0 to 1048574
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      811893 non-null  object
 1   StockCode    811893 non-null  object
 2   Description  811893 non-null  object
 3   Quantity     811893 non-null  int64
 4   InvoiceDate  811893 non-null  object
 5   Price        811893 non-null  float64
 6   Customer ID  811893 non-null  object
 7   Country      811893 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 55.7+ MB

In [12]:
# Changing the type of invoice data as we need it to calculate the recency
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], format='%d.%m.%Y %H:%M')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 811893 entries, 0 to 1048574
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      811893 non-null  object
 1   StockCode    811893 non-null  object
 2   Description  811893 non-null  object
 3   Quantity     811893 non-null  int64
 4   InvoiceDate  811893 non-null  datetime64[ns]
 5   Price        811893 non-null  float64
 6   Customer ID  811893 non-null  object
 7   Country      811893 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 55.7+ MB

In [13]:
df.head(2)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom

In [14]:
#Checking to see if the data in Qunatity is good to work with
df.Quantity.unique()

array([    12,     48,     24,     10,     18,      3,     16,      4,
            2,      6,      8,      1,     28,     30,     60,     32,
           56,      9,     25,     36,     20,    -12,     -6,     -4,
          -24,     -3,     -2,    576,    288,     27,     64,    160,
            5,     -1,     72,     50,     54,      7,    800,     11,
           58,    192,     96,    144,    100,    180,    216,     15,
          240,    108,     33,     90,     81,    -81,    -48,     17,
           -5,     40,     -8,     -9,     13,     21,    120,    200,
          168,     19,    280,    128,   -150,    -18,    -23,     80,
          300,    450,     14,     61,    480,     -7,     46,    504,
           45,   4320,   5184,   4008,     22,    600,    505,    500,
           23,     47,    432,    252,     75,    -16,   -504,   -600,
         -252,   -246,    -36,    360,    107,     49,     42,     66,
          -10,     34,     52,    400,     70,    936,    -32,    -60,
          -96,    -50,   -120,     35,    -64,   -168,    -30,    256,
         1500,    320,    130,   1002,     26,   1080,     29,    -13,
           67,    960,    864,    150,    126,    468,    336,   3000,
          -25,     38,    208,    334,    124,    125,    117,   -200,
           39,    -20,     55,    -11,     78,   -100,    -17,   -144,
           77,    350,    526,     98,    112,     59,     37,    -14,
          408,   1440,    832,    624,    204,    198,    608,    224,
           43,     65,    720,    271,     41,    264,    225,    104,
          163,    187,    312,    164,    110,   -190,    250,    -72,
          284,     89,    118,   -400,   6012,    866,   6144,   2040,
         2520,   3888,   5280,   4800,   6768,   9312,    384,     44,
          -44,    132,   -132,    -27,    229,     62,     82,    114,
          -26,    156,    -22,    460,     84,   -300,    374,    190,
          484,    -21,  19152,   3312,   1344,   2504,   1968,    482,
         4176,   2880,   6696,   1200,   1800,   1400,   4200,    696,
         3360,   3200,   3040,   2700,     51,  -2504,   9456,    176,
          -40,    900,     53,   -192,   -240,    -15,    152,    700,
           74,   1008,   -432,   -108,    141,    537,     88,    140,
          -28,    -80,     31,    205,    247,    372,   2016,     87,
          992,  12960,  12480,  12744,   1110,   4608,   5364,    420,
           68,     91,    148,   1000,    640,  10000,    -74,    135,
           76,    840,    816,    324,    -42,    648,     85,   1152,
          102,   -408,    -38,   -128,  -1440,    -34,    498,    768,
         -288,   -204,   -160,    246,     71,    516,    270,    560,
         -309,    392,    -19,    396,    612,    322,   -500,   -280,
         -140,   -250,   -156,    105,    175,    136,    171,  -1200,
          -69,   -312,    -51,    -49,   5000,   2500,    808,   2664,
         1728,    228,   2972,   1098,   1128,    276,    -41,    134,
          830,   -830,    210,   -210,    730,    122,    293,   3500,
          -98,    -99,   1056,    220,    352,    -29,    -61,   2000,
         -576,   -320,   -648,    248,    330,   -720,     95,    -85,
         -264,    235,    -90,    174,    -55,   2304,   1120,    -46,
          -33,    985,   3936,   2976,   4752,   1872,   1116,    567,
          684,    984,   1308,   2112,   2952,   4992,   2496,   3648,
         1536,   1248,   1632,   7008,   7128,   3072,    444,   3744,
         1104,     63,    327,   -180,   -118,     97,     57,    121,
          394,   1920,   3960,    876,    756,    672,   -324,    189,
         2004,   1512,    704,    760,    464,    520,  -5184,  -1248,
        -1536,   -864,  -3648,  -2496,  -4992,  -2952,  -2112,  -1308,
         -984,   -768,   -684,   -567,  -1116,   -372,   -480,  -1872,
        -4752,  -4320,  -1104,   -960,  -4608,  -2000,  -3744,   -444,
        -3072,  -7128,  -7008,  -1632,  -2976,  -3936,    139,    -35,
          -31,    162,    448,    304,    -59,   3120,   1224,   -700,
          196,    201,    402,    625,   1240,  -1152,   -384,    888,
          -56,   -148,    512,   1944,   1960,   9360,   6336,   -270,
          169,    243,   -243,   2400,    213,    212,  -2400,   1680,
         -248,   -256,   1584,   -212,   -213,   -110,    -82,    -68,
          -45,    -37,    -65,   -129,   -117,  -9360,   1824,     69,
          378,    972,   1488,   1394,    272,    -47,   1296,    147,
          860,   1010,   1356,   1284,    186,   1930,   3114,   1300,
          670,  74215, -74215,    456,    -94,   2592,    -76,    407,
         3906,    -86,   -102,   2160,    342,   -624,    151,    -58,
         -670,  -1300,  -1930,  -3114,    462,    492,    273,   1350,
          428,  -1350,    101,    227,    222,    906,    552,    738,
         4300,    -52,   1600,    323,   1515,  -1515,    660,   -420,
          188,    588,   -164,    430,    701,    828,    540,    291,
         3186,     83,     79,   -360,    -75,    109,   -121,    129,
          261,    348,   1900,    157,    -39,    116,    968,    824,
         -828,   -701,    410,    236,    230,   -334,   -318,   -126,
         -113,     86,     93,    494,     92,   1788,    744,    416,
          496,    306,   1878,    666,    708,   1428,    852,   1412,
          528,   -756,   -152,    -79,    -43,    183,   -186,    -53,
          -70,   1540,   -130,   -220,   -840,  -1296,     94,    255,
         -468,    -66,   -112,    912,   1992,    232,    630,   1020,
         2100,   -162,    -67,   -276,   -184,    234,    244,   -244,
         -234,  12540,    115,    774], dtype=int64)

In [15]:
#Converting the negative values in quantity column to positive ones by using abs function
df.Quantity=df.Quantity.abs()
df.Quantity.unique()[0:50]

array([ 12,  48,  24,  10,  18,   3,  16,   4,   2,   6,   8,   1,  28,
        30,  60,  32,  56,   9,  25,  36,  20, 576, 288,  27,  64, 160,
         5,  72,  50,  54,   7, 800,  11,  58, 192,  96, 144, 100, 180,
       216,  15, 240, 108,  33,  90,  81,  17,  40,  13,  21], dtype=int64)

In [16]:
df.Price.unique()

array([6.95, 6.75, 2.1 , ..., 2.42, 3.16, 4.7 ])

In [17]:
#Converting negative values in price column(if any) to positive values
df.Price=df.Price.abs()

In [18]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085,United Kingdom

In [19]:
df.to_csv("cleaned_retail.csv")